@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #FFEFEF;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

.texthlavicka {
  text-align: center;
  font-size: 28px;
}

.textnabidka {
  text-align: center;
  font-size: 22px;
}

.losos {
  overflow: auto;
}

.kure {
  text-align: right;
  overflow: auto;
}

.dezert {
  overflow: auto;
}

.onas {
  column-count: 2;
  column-gap: 60px;
}

footer {
  text-align: center;
}

section img {
  height: 240px;
}

.logo {
  display: flex;
  justify-content: center;
}

.fotogalerie {
  display: flex;
  justify-content: center;
  /* Zarovnání obsahu na střed */
  align-items: center;
  /* Zarovnání obsahu na střed */
}

section {
  background-color: white;
}

.odkaz {
  background-color: #FFEFEF;
}

.losos img {
  float: left;
}

.kure img {
  float: right;
}

.dezert img {
  float: left;
}
